<!DOCTYPE html>
<html lang="en">

<head>

  <!-- 
    This is the main Handlebars template for the site 
    - When the user visits the homepage or submits a choice the app calls the endpoints in server.js
    - The server script passes data in here and the Handlebars code builds it into the HTML page
  -->

  <meta charset="utf-8" />
  <link rel="icon" href="{{site.ico}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{{site.title}}</title>

  <!-- Meta tags for SEO and social sharing -->
  <link rel="canonical" href="{{site.url}}">
  <meta name="description" content="{{site.description}}">
  <meta property="og:title" content="{{site.title}}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{site.url}}">
  <meta property="og:description" content="{{site.description}}">
  <meta property="og:image" content="{{site.image}}">
  <meta name="twitter:card" content="summary">

  <!-- Import the webpage's stylesheet -->
  <link rel="stylesheet" href="/style.css" />
 
  <!-- Show choice chart on poll submission -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
  <script src="/notice/driver.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/driver.js/dist/driver.min.css">
  
<!-- 
 <link rel="stylesheet" href="/notice/dark-theme.min.css">
 <link rel="stylesheet" href="/notice/light-theme.min.css">
-->
  
  
  <link rel="stylesheet" href="/notice/colored-theme.min.css">
  
 

  <script src="/notice/growl-notification.min.js"></script>
  
  <script src="/avataaars.js"></script>
  
  
  <style>
  .svgg{
    display:inline-block;
    margin-right: 6px;
    margin-bottom: 5px;
    cursor: pointer;
    border: 3px solid white;
  }
  .svgg:hover, .svgg:hover{
      color: #ff6a00;
  }
  svg:hover {
    fill: red;
  }
  .cheng {
      border: 3px solid #fe8732;
  }
  </style>
  
  
  <script type="text/javascript">
 

  $(function(){
    
    let mtop = ["dreads01","frizzle","shaggyMullet","shaggy","shortCurly","shortFlat","shortRound","sides","shortWaved","theCaesarAndSidePart","theCaesar","bigHair","bob","bun","curly","curvy","dreads","frida","froAndBand","fro","longButNotTooLong","miaWallace","shavedSides","straightAndStrand","straight01","eyepatch","turban","hijab","hat","winterHat01"];
    let hairColor = ["dauburn","black","blonde","brown","pastelPink","platinum","red","silverGray"];
    let clothing = ["blazerAndShirt","blazerAndSweater","collarAndSweater","graphicShirt","hoodie","overall","shirtCrewNeck","shirtScoopNeck","shirtVNeck"];
    let clothingColor = ["black","blue01","blue02","blue03","gray01","gray02","heather","pastelBlue","pastelGreen","pastelOrange","pastelRed","pastelYellow","pink","red","white"];
    let eyes = ["squint","closed","cry","eyeRoll","happy","hearts","side","surprised","wink","winkWacky","xDizzy"];
    let mouth = ["concerned","disbelief","eating","grimace","sad","screamOpen","serious","smile","tongue","twinkle","vomit"];
    let background = ["#DD8FE4","#76D18D","#839BFF","#A59101","#8F69DB"];

    
    
    for(let i=0;i<150;i++){
      let t = mtop[Math.floor(Math.random() * mtop.length)];
      let h = hairColor[Math.floor(Math.random() * hairColor.length)];
      let c = clothing[Math.floor(Math.random() * clothing.length)];
      let cc = clothingColor[Math.floor(Math.random() * clothingColor.length)];
      let e = eyes[Math.floor(Math.random() * eyes.length)];
      let m = mouth[Math.floor(Math.random() * mouth.length)];
      let b = background[Math.floor(Math.random() * background.length)];
      let arr = [t,h,c,cc,e,m,b];
      var svg = Avataaars.create({
          width: 70,
          top: t,
          hairColor: h,
          clothing: c,
          clothingColor: cc,
          eyes: e,
          mouth: m,
          skin:"yellow",
          background: b
      });
      $("#touxiang").append("<a class='svgg' value='"+arr.join(";")+"'>"+svg+"</a>");

    }
    
    $("#xuanze").css("height",$("#touxiang").css("height"));
    
    $("#chongzhi").click(function(){
      $("#touxiang").html("");
      for(let i=0;i<150;i++){
        let t = mtop[Math.floor(Math.random() * mtop.length)];
        let h = hairColor[Math.floor(Math.random() * hairColor.length)];
        let c = clothing[Math.floor(Math.random() * clothing.length)];
        let cc = clothingColor[Math.floor(Math.random() * clothingColor.length)];
        let e = eyes[Math.floor(Math.random() * eyes.length)];
        let m = mouth[Math.floor(Math.random() * mouth.length)];
        let b = background[Math.floor(Math.random() * background.length)];
        let arr = [t,h,c,cc,e,m,b];
        var svg = Avataaars.create({
            width: 70,
            top: t,
            hairColor: h,
            clothing: c,
            clothingColor: cc,
            eyes: e,
            mouth: m,
            skin:"yellow",
            background: b
        });
        $("#touxiang").append("<a class='svgg' value='"+arr.join(";")+"'>"+svg+"</a>");

      }
    });
    
    
    $("body").on("click", ".svgg",function(){
      let tmp = $(this).val().split(";");
      console.log($(this));
      let t = tmp[0];
      let h = tmp[1];
      let c = tmp[2];
      let cc =tmp[3];
      let e = tmp[4];
      let m = tmp[5];
      let b = tmp[6];
      let arr = [t,h,c,cc,e,m,b];
      var svg = Avataaars.create({
          width: 70,
          top: t,
          hairColor: h,
          clothing: c,
          clothingColor: cc,
          eyes: e,
          mouth: m,
          skin:"yellow",
          background: b
      });
      $("#xuanze").append("<a class='' value='"+arr.join(";")+"'>"+svg+"</a>");

      $(this).addClass("cheng");
      $("#p9_text").html("<span style='color:green'>选择成功，点击提交按钮！</span>");
      $("#p9d").removeClass("disabled");
    });

    
    
    
    
    

  });   
    
  
    
  </script>

</head>

<body>
 
  
  <div class="wrapper" >
    <div style="float:left; height:73%;width:100%;border: 1px solid black">
      <div style="float:left; width:70%;border: 2px solid black ">
        <div id="touxiang"></div>
      </div>

      <div style="float:left; width:30%;border: 2px solid black">
        <div id="xuanze" ></div>
      </div>

    
      <div style="float:left; height:7%;width:100%;border: 2px solid black">
        <button id="chongzhi" style="float:left">换一页头像</button>
        <button id="shengcheng" style="float:right">生成结果</button>
      </div> 
      <div style="float:left; height:20%;width:100%;border: 2px solid black">
        1.点击头像，就会被选择到右侧；<br>
        2.左侧头像可以无限次刷新，点换一页；<br>
        3.如果右侧选择的头像不好看，点一下就删除了；<br>
        4.最后够数量（30或更多）之后点生成结果；<br>
        5.然后这里会生成一段代码，复制这段代码发给我就可以。可以复制到 google docs 随便哪个文件里。
      </div> 
    </div> 
  </div>

  <!-- The footer holds our remix button — you can use it for structure or cut it out ✂ -->
  <footer class="footer">
    <div class="links"></div>
    <a href="/">Home</a>
    <span class="divider">|</span>
    <a href="/logs">Admin</a>
    <a class="corner--remix" target="_top" href="#">
      Stored in SQLite <span class="divider">|</span> Designed by Universiteit Utrecht
    </a>
  </footer>
</body>
<script src="/main.js"></script>
</html>
