<!DOCTYPE html>
<html lang="en">

<head>

  <!-- 
    This is the main Handlebars template for the site 
    - When the user visits the homepage or submits a choice the app calls the endpoints in server.js
    - The server script passes data in here and the Handlebars code builds it into the HTML page
  -->

  <meta charset="utf-8" />
  <link rel="icon" href="{{site.ico}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>{{site.title}}</title>

  <!-- Meta tags for SEO and social sharing -->
  <link rel="canonical" href="{{site.url}}">
  <meta name="description" content="{{site.description}}">
  <meta property="og:title" content="{{site.title}}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{site.url}}">
  <meta property="og:description" content="{{site.description}}">
  <meta property="og:image" content="{{site.image}}">
  <meta name="twitter:card" content="summary">

  <!-- Import the webpage's stylesheet -->
  <link rel="stylesheet" href="/style.css" />
 
  <!-- Show choice chart on poll submission -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
  <script src="/notice/driver.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/driver.js/dist/driver.min.css">
  
<!-- 
 <link rel="stylesheet" href="/notice/dark-theme.min.css">
 <link rel="stylesheet" href="/notice/light-theme.min.css">
-->
  
  
  <link rel="stylesheet" href="/notice/colored-theme.min.css">
  
 

  <script src="/notice/growl-notification.min.js"></script>
  
  <script src="/avataaars.js"></script>
  
  <script type="text/javascript">
    /*
    The chart uses chart.js - try tweaking the config!
    https://www.chartjs.org/docs/3.0.2/charts/doughnut.html
    
    We pass the choices and picks arrays from the page when the server script returns them
    */
    function showChart(choices, picks) {
      
      // Get the page element to show the chart inside
      var ctx = document.getElementById('myChart');
      
      // Set up the chart colors
      var colors = ["#05DA84", "#E6E656", "#E5AED6"];
      var border = "#ffffff";
      
      // Make sure we have some votes–if not show an empty chart
      if(picks.reduce((a, b) => a + b, 0)<1) {
        picks=["1e-10"]; // use a near zero value so that the doughnut displays
        choices=["No votes! Reload and vote again."];
        colors=["#00000000"]; // we'll show an empty doughnut shape
        border=["#000000"];
      } 
      
      // Build the chart in the page element
      var myLineChart = new Chart(ctx, {
        type: "doughnut",
        data: {
          labels: choices,
          datasets: [{
            data: picks,
            backgroundColor: colors,
            borderColor: border,
            fill: true,
            hoverOffset: 12,
            cutout: "60%"
          }]
        },
        options: {
          plugins: {
            legend: {
              display: true,
              position: "bottom",
              labels: {
                padding: 24
              }
            }
          },
          layout: {
            padding: 24
          }
        }
      });
    }
    
$(function(){
    /*const driver = new Driver();
    // Define the steps for introduction
    driver.defineSteps([
      {
        element: '.p1a',
        popover: {
          showCloseButton: false,
          className: 'first-step-popover-class',
          title: 'Title on Popover',
          description: 'Body of the popover',
          position: 'right'
        }
      },
      {
        element: '#p1b',
        popover: {
          showCloseButton: false,
          title: 'Title on Popover',
          description: 'Body of the popover',
          position: 'top'
        }
      },
      {
        element: '#p1c',
        popover: {
          showCloseButton: false,
          title: 'Title on Popover',
          description: 'Body of the popover',
          position: 'right'
        }
      },
      {
        element: '#p1d',
        popover: {
          showCloseButton: false,
          title: 'Title on Popover',
          description: 'Body of the popover',
          position: 'right'
        }
      },
    ]);
    // Start the introduction
    driver.start();*/
    $(".driver-close-btn").hide();
  
    
  
 });   
    
    
    
  </script>

</head>

<body>
 
  
  <div class="wrapper">
    <div class="content" role="main">

      <!-- This is the start of content for our page -->
      <h1>认识更多小朋友 <h3>v<span id="version"></span></h3></h1>
 
 
        <!-- ADD LINK FROM TODO -->
      <div class="rzone" id="p1_content">

      </div>
    </div>
  </div>
  <!-- The footer holds our remix button — you can use it for structure or cut it out ✂ -->
  <footer class="footer">
    <div class="links"></div>
    <a href="/">Home</a>
    <span class="divider">|</span>
    <a href="/logs">Admin</a>
    <a class="corner--remix" target="_top" href="#">
      Powered by Glitch <span class="divider">|</span> Designed by Universiteit Utrecht
    </a>
  </footer>
</body>
<script src="/main.js"></script>
<script>
  $("#p1_content").load("itact.html");
  </script>
</html>
